application:
  name: @project.artifactId@
  description: @project.description@
  version: @project.version@

server:
  port: 8081

spring:
  application:
    name: spacemission-manager
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
  data:
    web:
      pageable:
        size-parameter: size
        page-parameter: page
        default-page-size: 20
        one-indexed-parameters: false
        max-page-size: 100

spaceship-manager:
  client:
    provider: rest-template

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

open-api:
  header:
    pagination:
      enabled: false